---
import Slide from "../components/Slide.astro";
---

<Slide data-background-color="#283b95" data-transition="zoom">
	<h1>My Awesome Talk Title</h1>
	<h3>by Your Name</h3>
	<p>Event Name - Date</p>
</Slide>
